:root {
    --background-color-around: #170f23;
    --background-color-2: #2e273a;
    --cover-color-1: rgba(0, 0, 0, 0.445);
    --cover-color-2: rgba(255, 255, 255, 0.288);
    --text-color-1: #fff;
    --text-color-2: rgb(163, 22, 163);
    --border-radius-item: 7px;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: var(--text-color-1);
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--background-color-around);
    padding: 15px;
    overflow: hidden;
}

.hit-header {
    margin-bottom: 15px;
}

.hit-header h2 {
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: row;
    position: relative;
}

.hit-header h2 .ward {
    position: absolute;
    right: 0;
}

.hit-header h2 .ward .fa-chevron-left {
    opacity: 0.1;
}

.hit-header h2 .ward .fa-chevron-right {
    margin-left: 30px;
    cursor: pointer;
}

.hit-header h2 .ward .fa-chevron-right:hover {
    opacity: 0.7;
}

.hit {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    text-align: left;
    justify-content: space-between;
}

.hit-item {
    flex-basis: 220px;
    position: relative;
    cursor: pointer;
}

.hit-item-top {
    width: 220px;
    height: 220px;
    overflow: hidden;
}

.hit-item img {
    width: 220px;
    height: 220px;
    border-radius: var(--border-radius-item);
    transition: 1s;
}

.hit-item .option {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 220px;
    height: 220px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: var(--border-radius-item);
    background-color: var(--cover-color-1);
    justify-content: space-between;
}

.hit-item-top:hover .option {
    visibility: visible;
}

.hit-item-top:hover img {
    transform: scale(1.1);
    transition: 1s;
}

.hit-item .option .like {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 50%;
    margin-left: 20px;
}

.hit-item .option .like:hover {
    background-color: var(--cover-color-2);
}

.hit-item .option .play {
    height: 60px;
    width: 60px;
    font-size: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hit-item .option .play:hover {
    opacity: 0.7;
}

.hit-item .option .more {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 50%;
    margin-right: 20px;
}

.hit-item .option .more:hover {
    background-color: var(--cover-color-2);
}

.hit-item-title {
    padding-top: 10px;
}

.hit-item-title:hover {
    color: var(--text-color-2);
}

.newest-header {
    margin-top: 40px;
    margin-bottom: 15px;
}

.newest-header h2 {
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: row;
    position: relative;
}

.newest-header h2 .ward {
    position: absolute;
    right: 0;
}

.newest-header h2 .ward .fa-chevron-right {
    opacity: 0.1;
    margin-left: 30px;
}

.newest-header h2 .ward .fa-chevron-left {
    cursor: pointer;
}

.newest-header h2 .ward .fa-chevron-left:hover {
    opacity: 0.7;
}

.newest {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.newest-item {
    display: flex;
    flex-direction: column;
    flex-basis: 390px;
}

.newest-item-top {
    width: 100%;
    height: 200px;
    background-color: var(--background-color-2);
    border-radius: var(--border-radius-item);
    box-shadow: 0 4px 8px 0 rgba(105, 105, 105, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.newest-item-top .opacity {
    visibility: hidden;
    height: 170px;
    width: 170px;
    background-color: var(--cover-color-1);
    font-size: 50px;
    position: absolute;
    top: 15px;
    left: 15px;
    border-radius: var(--border-radius-item);
    display: flex;
    align-items: center;
    justify-content: center;
}

.newest-item-top:hover .opacity {
    visibility: visible;
}

.newest-item-top-figure {
    height: 170px;
    width: 170px;
    margin: 0 15px;
    border-radius: var(--border-radius-item);
}

.newest-item-top-figure div {
    height: 170px;
    width: 170px;
    border-radius: var(--border-radius-item);
    overflow: hidden;
}

.newest-item-top-figure img {
    height: 170px;
    width: 170px;
    border-radius: var(--border-radius-item);
    transition: 1s;
}

.newest-item-top:hover img {
    transform: scale(1.1);
    transition: 1s;
}

.newest-item-infor {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 5px 15px 5px 5px;
}

.newest-item-infor-top {
    position: absolute;
    top: 15px;
    left: 0;    
}

.newest-item-infor-top .title {
    font-size: 20px;
    text-align: left;
}

.newest-item-infor-top .subtitle {
    color: hsla(0,0%,100%,0.5);
    font-size: 13px;
    font-weight: 400;
    margin-top: 3px;
    display: flex;
    text-align: flex-start;
}

.newest-item-infor-top .subtitle:hover {
    color: var(--text-color-2);
}

.newest-item-infor-bottom {
    width: 100%;
    position: absolute;
    bottom: 15px;
    left: 0;
    display: flex;
    justify-content: space-between;
    opacity: 0.4;
}

.newest-item-infor-bottom .order {
    font-size: 40px;
    color: var(--background-color-2)    ;
    text-shadow:    -1px 1px 0 #fff,
                    1px 1px 0 #fff,
                    1px -1px 0 #fff,
                    -1px -1px 0 #fff;;
}

.newest-item-infor-bottom .date-release {
    display: flex;
    align-items: flex-end;
    padding-bottom: 5px;
}

.newest-item-bottom {
    height: 60px;
    width: 100%;
    margin-top: 50px;
    border-radius: var(--border-radius-item);
    cursor: pointer;
    position: relative;
}

.newest-item-bottom .wrap {
    display: flex;
    flex-direction: row;
    height: 40px;
    margin: 10px;
    border-radius: var(--border-radius-item);
    align-items: center;
    
}

.newest-item-bottom-figure {
    height: 40px;
    width: 40px;
    margin-right: 10px;
    border-radius: var(--border-radius-item);
}

.newest-item-bottom-figure img {
    height: 40px;
    width: 40px;
    border-radius: var(--border-radius-item);
}

.newest-item-bottom-infor .title {
    font-size: 14px;
}

.newest-item-bottom-infor .subtitle {
    color: hsla(0,0%,100%,0.5);
    font-size: 13px;
    font-weight: 400;
    margin-top: 3px;
    text-align: left;
}

.newest-item-bottom .opacity {
    visibility: hidden;
    height: 40px;
    width: 370px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}

.newest-item-bottom .opacity .play {
    height: 40px;
    width: 40px;
    border-radius: var(--border-radius-item);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cover-color-1);
}

.newest-item-bottom .opacity .micro {
    position: absolute;
    right: 50px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newest-item-bottom .opacity .micro:hover {
    background-color: var(--cover-color-2);
}

.newest-item-bottom .opacity .more {
    position: absolute;
    right: 10px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newest-item-bottom .opacity .more:hover {
    background-color: var(--cover-color-2);
}

.newest-item-bottom:hover {
    background-color: var(--background-color-2);
}

.newest-item-bottom:hover .opacity{
    visibility: visible;
}

.tooltip {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.685);
    color: #fff;
    border: solid 1px #fff;
    position: absolute;
    z-index: 2;
    top: 100%;
    left: 30%;
    height: 15px;
    padding: 8px;
    display: flex;
    align-items: center;
}

.hit-item:hover .tooltip {
    visibility: visible;
    overflow: hidden;
}