* {
  font-family: Arial;
  font-style: italic; }

input {
  border: 0;
  outline: none; }

body .container .content .add-work {
  border-bottom: solid 1px greenyellow; }

body .container .content .list .info {
  max-width: 60%;
  word-wrap: break-word; }
  body .container .content .list .info label {
    width: 100%; }

body .container .content .list li {
  position: relative;
  border: 0;
  background-color: rgba(66, 66, 65, 0.116);
  display: flex;
  justify-content: space-between; }
  body .container .content .list li .button-container {
    display: inline-flex; }
    body .container .content .list li .button-container button {
      width: 40px; }
