body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.container {
    width: 50vw;
    height: 50vh;
    transform: translate(50%, 50%);
}

.btn:active+.item-rotate {
    transform: rotate(360deg);
    transition-duration: 1s;
}

.item-rotate {
    display: inline-block;
    margin-left: 50px;
    height: 150px;
    width: 150px;
    background-color: blue;
    transition-duration: 1s;
}