* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    height: 200vh;
    background-color: #18191a;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

.container {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.navbar {
    z-index: 999;
    height: 56px;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 15px;
    background-color: #242526;
}

.navbar li:hover{
    background-color: #3a3b3c;
    cursor: pointer;
}

.logo {
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 42px;
    color: #046ee4;
    background-color: #fff;
    cursor: pointer;
}

.logo i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search {
    display: flex;
    align-items: center;
    position: relative;
    left: 40px;
    height: 40px;
    width: 20vw;
    min-width: 40px;
    border-radius: 20px;
    font-size: 17px;
    color: #a8abaf;
    background-color: #3a3b3c;
    margin-left: 10px;
}

.search i {
    position: relative;
    left: 11.5px;
    z-index: 1;
}

.search form {
    z-index: 0;
    position: relative;
    left: 11.5px;
    width: 80%;
}

.search form input {
    width: 100%;
    background-color: transparent;
    border: 0;
    font-size: 15px;
    margin-left: 5px;
    outline: none;
    color: #999792;
}

.center {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 100%;
    right: 0;
    padding-left: 50px;
}

.center-navbar {
    display: flex;
    flex-direction: row;
    color: #a8abaf;
    margin: 0;
    height: 100%;
    width: 50vw;
    font-size: 22.96px;
}

.center-navbar li {
    display: flex;
    flex-basis: 20%;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-top: 5px;
    border-bottom: solid 5px #242526;
}

.center-navbar li:focus {
    color: #2e89ff;
    border-radius: unset;
    border-bottom: solid 5px #2e89ff;
    outline: none;
}

.right-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #e4e6eb;
    margin: 0;
    height: 100%;
    font-size: 17.14px;
    position: absolute;
    right: 30px;
}

.right-navbar li {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #2f2f30;
}

.right-navbar .profile {
    width: auto;
    border-radius: 20px;
    position: relative;
    background-color: #242526;
}

.right-navbar .profile:focus {
    background-color: #283752;
    color: #2e89ff;
    outline: none;
}

.avt {
    height: 30px;
    width: 30px;
    margin: 5px;
    border-radius: 50%;
    background-image: url(avt.jpg);
    background-size: cover;
    position: relative;
    left: 0;
}

.profile span {
    display: flex;
    justify-content: center;
    margin-right: 10px;
    font-size: 0.9375rem;
    font-weight: 600;
}

/* Content */

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 56px;
    position: relative;
    background-color: #242526;
}

.cover {
    height: 348px;
    width: 100vw;
    max-width: 940px;
    background-image: url(bia.jpg);
    cursor: pointer;
    position: relative;
    font-size: 0.9375rem;
    font-weight: 600;
    color: #fff;
}

.cover .cover-update {
    height: 36px;
    width: 180px;
    border-radius: 10px;
    position: absolute;
    right: 20px;
    bottom: 10px;
    background-color: #6262645e;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover .cover-update:hover {
    background-color: #a5a6ac86;
    cursor: pointer;
}

.content .avt-bgr {
    height: 158px;
    width: 158px;
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    background-color: #fff;
    opacity: 0;
    border-radius: 50%;
}

.content .avt {
    height: 168px;
    width: 168px;
    border: solid 5px #242526;
    position: absolute;
    top: 185px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
}

.content .avt-bgr:hover {
    cursor: pointer;
    opacity: 0.1;
}

.content .avt .change {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.content .avt .bgr-icon {
    background-color: #fff;
    opacity: 0.1;
}

.content .avt .icon:hover {
    background-color: #a5a6ac86;
    cursor: pointer;
}

.content .avt .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #fff;
}

.content h1 {
    color: #e4e6eb;
    margin-bottom: 6px;
    margin-top: 15px;
}

.content h1 span {
    margin-left: 8px;
    font-weight: 100;
    font-size: 1.75rem;
}

.description {
    display: block;
    color: #999792;
    margin-bottom: 10px;
}

.menu {
    height: 60px;
    width: 80vw;
    max-width: 876px;
    display: flex;
    flex-direction: row;
    border-top: solid 1px #999792;
    color: #999792;
    position: relative;
}

.menu ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-size: 0.9375rem;
    font-weight: 600;
    position: relative;
    padding: 0;
    margin: 5px 0;
}

.menu ul li {
    padding: 17px;
    background-color: #3a3b3c;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 3px #242526;
}

.menu .left {
    left: 0;
    margin: 0;
}

.menu .left li {
    background-color: #242526;
}

.menu .left i {
    padding-bottom: 2px;
    padding-left: 5px;
}

.menu .left li:hover {
    color: #2e89ff;
    border-radius: unset;
    cursor: pointer;
    border-bottom: solid 3px #2e89ff;
}

.menu .left li:focus {
    color: #2e89ff;
    border-radius: unset;
    border-bottom: solid 3px #2e89ff;
    outline: none;
}

.menu .right {
    position: absolute;
    top: 7px;
    right: 0;
    color: #fff;
}

.menu .right li {
    width: 48px;
    height: 36px;
    margin-left: 8px;
}

.menu .right li:hover {
    background-color: #4a4a4b;
    cursor: pointer;
}

/*Chat box*/

.chatbox {
    position: fixed;
    bottom: 15px;
    right: 15px;
    display: flex;
    flex-direction: column-reverse;
}

.chatbox .avt {
    width: 48px;
    height: 48px;
}

.chatbox .new-chat {
    background-image: none;
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #fff;
    background-color: #4b4c4f;
    padding-left: 15px;
}

.chatbox .chat-2 {
    background-image: url(c1.png);
}

.navbar-tooltip {
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.685);
    color: #000;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    top: 105%;
    font-size: 0.9375rem;
    height: 30px;
    padding: 8px;
    display: flex;
    align-items: center;
}

.center-navbar li:hover .navbar-tooltip {
    visibility: visible;
}

.chat-tooltip {
    visibility: hidden;
    background-color: #242526;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    right: 105%;
    font-size: 0.9375rem;
    height: 48px;
    width: 100px;
    padding: 8px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.chatbox .avt:hover .chat-tooltip {
    visibility: visible;
}

.chatbox .avt:first-of-type:hover {
    background-color: #757472;
}