* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
}

.container {
    height: 100%;
    width: 100%;
    background-image: url(bg.jpg);
    position: relative;
    display: flex;
    justify-content: center;
}

.area {
    padding: 0 50px;
    background-size: cover;
    position: absolute;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.area-1 {
    height: 90%;
    bottom: 0;
    width: 80%;
    animation-name: right;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    transition: 2s;

}

.area-2 {
    padding: 0;
    height: 40%;
    width: 100%;
    bottom: 25%;
}

.area-3 {
    height: 70%;
    width: 50%;
    bottom: 10%;
    animation-name: left;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    transition: 2s;
}

.bubble {
    position: relative;
    height: 50px;
    width: 50px;
    bottom: -90vh;
    background-image: url(bb2.svg);
    /* opacity: 0.5; */
    animation-name: rise;
    animation-duration: 6s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.area-1 .bubble {
    transform: scale(2);
}

.area-2 .bubble {
    transform: scale(0.5);
}

.area-3 .bubble {
    transform: scale(0.8);
}

.bubble-1 {
    animation-delay: 2s;
}

.bubble-2 {
    animation-delay: 2.4s;
}

.bubble-3 {
    animation-delay: 6s;

}

.bubble-4 {
    animation-delay: 4s;
}

.bubble-5 {
    animation-delay: 1s;
}

.bubble-6 {
    animation-delay: 2s;
}

.bubble-7 {
    animation-delay: 1.5s;
}

.bubble-8 {
    animation-delay: 5s;
}

.bubble-9 {
    animation-delay: 6s;
}

.bubble-10 {
    animation-delay: 2s;
}

.bubble-11 {
    animation-delay: 3s;
}

img {
    width: 80%;
    height: 80%;
    border-radius: 50%;
}

@keyframes rise {
    100% {bottom: 60vh; opacity: 0.04;}
}

@keyframes right {
    50% {transform: translateX(50px); transition: 2s;}
    100% {transform: translateX(0px); transition: 2s;}
}

@keyframes left {
    50% {transform: translateX(-50px); transition: 2s;}
    100% {transform: translateX(0px); transition: 2s;}
}