body .container .nav-bar {
  background-color: #61a1bd;
  display: flex;
  justify-content: flex-end; }
  body .container .nav-bar button {
    background-color: #4987a1;
    color: #fff;
    border: none;
    padding: 8px;
    margin: 7px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center; }
    body .container .nav-bar button i {
      height: 16px; }

body .container .flow-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px; }
  body .container .flow-layout .article {
    display: flex;
    width: 80vw;
    flex-direction: row;
    margin-top: 10px; }
    body .container .flow-layout .article img {
      width: 150px;
      height: 150px; }
    body .container .flow-layout .article div {
      padding-left: 10px;
      font-size: 14px;
      font-weight: 600;
      line-height: 1.5;
      font-family: sans-serif;
      color: gray; }

body .container .grid-layout {
  display: grid;
  grid-template-columns: 50% 50%; }
  body .container .grid-layout .article {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    body .container .grid-layout .article img {
      width: 40vw;
      height: 40vw;
      margin-top: 5vw; }
    body .container .grid-layout .article div {
      display: none; }
