@mixin font-style-1 {
    font-size: 16px;
    font-weight: 600;
}

* {
    font-family: "Google Sans", sans-serif;
    color: #fff;
}

body {
    #nav-bar {
        display: flex;
        justify-content: center;
        #nav-list {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            
            li {
                padding: 20px;
                background-color: #5597b4;
                @include font-style-1();
            }
        }
    }

    p {
        color: #7e9199;
        text-align: center;
        @include font-style-1();

        #chose {
            background-color: #c4d7e0;
            color: #fff;
            padding: 5px;
        }
    }
}