/*+++++++++++++++++responsive++++++++*/
@media only screen and (max-width: 1000px) {
    body {
        
    }

    .header-center .social-links,.copy {
        display: none;
    }

    @keyframes menu-show {
        from {
            top: 90px;
        }
        to {
            top: 70px;
        }
    }

    .about-item {
        flex-direction: column;
    }

    .about-info-avatar img {
        height: auto;
        width: 100%;
        margin-bottom: 30px;
    }

    .about-services-content {
        grid-template-columns: 50% 50%;
    }

    .about-testimonials-content {
        grid-template-columns: auto;
    }
    
    .about-clients .client-item {
        display: none;
    }

    .client-item:nth-of-type(1),
    .client-item:nth-of-type(2),
    .client-item:nth-of-type(3) {
        display: block;
    }

    /* ----------------- section resume----------*/
    .resume-content {
        grid-template-columns: 100%;
    }

    /*------------section portfolio-------------*/
    
    .portfolio-content .item {
        width: 45%;
    }

    /*-------------section blog--------------------*/
    .blog-list {
        grid-template-columns: 50% 50%;
    }

    /*----------------section contact------------------*/
    .contact-content-up {
        grid-template-columns: 100%;
    }

    .mess-box {
        margin-top: 30px !important;
        height: 450px !important;
    }

}

@media only screen and (max-width: 700px) {

    .section-container {
        margin: 0;
        padding: 0;
    }

    .header-left {
        height: 40px;
        width: 40px;
        font-size: 15px;
    }

    @keyframes menu-show {
        from {
            top: 20px;
        }
        to {
            top: 0px;
        }
    }

    .header-right {
        height: 40px;
        width: 40px;
        font-size: 15px;
        justify-content: center;
    }

    .header-right-line-1,
    .header-right-line-3 {
        width: 23px;
        border: solid 1px #fff;
    }

    .header-right-line-2 {
        width: 17px;
        border: solid 1px #fff;
        margin: 4px 0;
    }

    .header-center .menu {
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;
    }

    .header-center .menu li {
        margin-bottom: 10px;
    }

    .header-center .menu li span {
        font-size: 16px;
    }

    .menu i {
        display: none;
    }

    .social-links,.copy {
        display: none;
    }

    /*-------section home----------------*/
    .section-home .name {
        font-size: 20px;
    }

    .section-home .job {
        font-size: 28px;
    }

    @keyframes typing {
        from { width: 0 }
        to { width: 275px }
    }

    /*-----------section about ----------*/

    .section-about * {
        word-wrap: break-word;
    }

    .section-about h3 {
    }

    .about-info-base {
        grid-template-columns: 100%;
    }

    .about-info-btn {
        margin: 10px auto;
    }

    .about-services-content {
        grid-template-columns: 100%;
    }

    .client-container {
        justify-content: center;
        align-items: center;
    }

    .client-item:nth-of-type(3) {
        display: none;
    }

    .client-item:nth-of-type(1),
    .client-item:nth-of-type(2) {
        transform: scale(0.7);
        display: block;
    }

    /*-----------------section resume-----------------*/
    .resume-item {
        margin-bottom: 20px;
    }

    .resume-item-container-option-1 {
        margin: 0 0 0 15px;
        padding: 50px 25px !important;
    }

    .resume-item-option-1 {
        height: 260px;
    }

    .resume-item-option-1 h4::before {
        left: -36px;
    }

    /*----------------section portfolio--------------------*/

    .section-container .title::before {
        font-size: 52px;
        top: -30%;
    }

    .portfolio-content .item {
        width: 90%;
    }

    /* --------------section blogs-----------*/

    .blog-list {
        grid-template-columns: 100%;
    }

    .blogs-container {
        margin: 0 15px;
    }

    /*----------------------- section contact -----------------------*/

    .contact-container {
        margin: 0 15px;
    }

    .contact-info {
        padding: 0;
    }
}