:root {
    --background-color-1: #1d1e21;
    --background-color-2: #2a2b30;
    --background-color-3: #181818;
    --background-color-4: #313237;
    --text-color-1: #fff;
    --text-color-2: #888;
    /*color of header*/
    --text-color-3: #e1e1e1;
    --text-color-4: #d94c48;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    outline: none;
    overflow-wrap: break-word;
    color: var(--text-color-3);

}

body {
    background-color: var(--background-color-1);
    position: relative;
    min-width: 320px;
    display: flex;
    justify-content: center;

}

.header-left {
    height: 50px;
    width: 50px;
    border-radius: 5px;
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: var(--text-color-4);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    letter-spacing: 1px;
    color: var(--text-color-1);
    z-index: 99;
    opacity: 0.8;
    cursor: pointer;
}

.header-right {
    height: 50px;
    width: 50px;
    border-radius: 5px;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: var(--text-color-4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 99;
    opacity: 0.8;
    padding: 12px 7px;
    cursor: pointer;
    font-size: 30px;
}

.header-right a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--background-color-2);
}

.container {
    width: 60%;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container img {
    width: 100%;
    margin-bottom: 35px;
}

.topic {
    margin-bottom: 15px;
    text-align: center;
}

.topic span {
    padding: 2px 10px;
    border-right: solid 2px var(--text-color-4);
}

.topic span:last-of-type {
    border: none;
}

.topic span a {
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    color: var(--text-color-4);
    letter-spacing: 1px;
}

.title {
    text-align: center;
    font-family: "Source Serif Pro", serif;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 15px;
}

.post-time {
    font-size: 14px;
    line-height: 1.65;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #a1a1a1;
    margin-bottom: 25px;
}

.container p {
    line-height: 1.65;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
}

.container p:last-of-type {
    margin-bottom: 50px;
}

.container .stress {
    font-style: italic;
    font-size: 18px;
    border-left: solid 4px var(--text-color-4);
    padding-left: 20px;
} 

.comment {
    width: 100%;
    height: 300px;
    border-radius: 5px;
    margin: 30px 0px;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.05), 
                0 0px 5px rgba(0, 0, 0, 0.04), 
                0 0px 10px 10px rgba(0, 0, 0, 0.06),
                0 0px 20px 10px rgba(0, 0, 0, 0.06);
}

.comment form {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color-2);
    padding: 35px;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    position: relative;
}

.comment form input {
    background-color: transparent;
    font-size: 17px;
    font-weight: 400;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 20px;
    padding-bottom: 10px;
    color: var(--text-color-3);
}

.comment form .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* .comment form input:nth-of-type(1) {
    margin-right: 15px;
}

.comment form input:nth-of-type(2) {
    margin-left: 15px;
} */

.comment form input:focus {
    border-bottom: 2px solid #fff;
}

.comment .error {
    border-bottom: 2px solid #a62d00;
}

.comment form .text-message {
    height: 45%;
}

.comment form .submit {
    height: 45px;
    width: 170px;
    color: var(--text-color-4);
    border: solid 2px var(--text-color-4);
    border-radius: 5px;
    background-color: transparent;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.comment form .submit:hover {
    background-color: var(--text-color-4);
    color: var(--background-color-3);
}