:root {
    --background-color-1: #1d1e21;
    --background-color-2: #2a2b30;
    --background-color-3: #181818;
    --background-color-4: #313237;
    --text-color-1: #fff;
    --text-color-2: #888;
    /*color of header*/
    --text-color-3: #e1e1e1;
    --text-color-4: #d94c48;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    outline: none;
    overflow-wrap: break-word;
}

body {
    overflow: hidden;
    height: 100vh;
    background-color: var(--background-color-1);
    position: relative;
    min-width: 730px;
    display: flex;
    justify-content: center;

}

header {}

.header-left {
    height: 50px;
    width: 50px;
    border-radius: 5px;
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: var(--text-color-4);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    letter-spacing: 1px;
    color: var(--text-color-1);
    z-index: 99;
    opacity: 0.8;
    cursor: pointer;
}

.header-center {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 31.6px;
    color: var(--text-color-2);
    position: relative;
}

.header-center .menu {
    position: relative;
    top: 10px;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    list-style-type: none;
    margin-top: 20px;
}

.menu li {
    height: 100%;
    width: 100px;
    font-size: 20px;
    cursor: pointer;
}

.menu li span {
    display: block;
    font-size: 12px;
    font-weight: 700;
    margin-top: 10px;
}

.social-links {
    position: relative;
    top: 20px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    margin: 30px;

}

.social-links li {
    height: 100%;
    width: 70px;
    font-size: 25px;
    cursor: pointer;
}

.header-center .copy {
    position: relative;
    top: 30px;
    font-size: 14px;
}

.header-right {
    height: 50px;
    width: 50px;
    border-radius: 5px;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: var(--text-color-4);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 99;
    opacity: 0.8;
    padding: 12px 7px;
    cursor: pointer;
}

.header-right-line-1,
.header-right-line-3 {
    width: 35px;
    background-color: #fff;
    border: solid 1.5px #fff;
}

.header-right-line-2 {
    background-color: #fff;
    width: 30px;
    border: solid 1.5px #fff;
}

.setting-themes {
    background-color: transparent;
    position: fixed;
    top: 90px;
    right: -178px;
    z-index: 999;
    display: flex;
    flex-direction: row;
    transition: 0.6s;
}

.setting-themes .setting-icon {
    height: 38px;
    width: 38px;
    border: 1px;
    background-color: #fff;
    z-index: 999;
    color: #777;
    line-height: 38px;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.setting-themes i {
    animation-name: rotate-setting-themes;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.setting-themes .choose-color {
    height: 206px;
    width: 178px;
    background-color: #fff;

}

.setting-themes .theme-colors {
    padding: 25px;
    text-align: center;
}

.setting-themes h5 {
    margin: 15px 0 15px 0;
    font-weight: 550;
    font-size: 14px;
}

.setting-themes .color-list {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 5px;
    grid-row-gap: 7px;
}

.setting-themes .color-list .color-item {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.setting-themes .buy-template {
    height: 40px;
    background-color: #2d5afe;
    color: var(--text-color-3);
    font-weight: 550;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/************ Main ****************/

main {
    height: 100%;
    display: flex;
}

.section {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.05),
                0 -1px 5px rgba(0, 0, 0, 0.04),
                0 -2px 10px rgba(0, 0, 0, 0.06);

}

.section-home {
    /* visibility: hidden; */
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    background-image: url(./images/cover-1.jpg);
    background-size: cover;
}

.section-home * {
    z-index: 1;
}

.section-home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--background-color-3);
    opacity: 0.4;
    z-index: 0;
}

.home-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.home-container .avatar {
    width: 144px;
    height: 144px;
    border-radius: 50%;
    border: solid 3px var(--text-color-3);
    margin-bottom: 30px;
    background-image: url("./images/profile-img.jpg");
    background-size: contain;
}

.home-container .name {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 20px;
    color: var(--text-color-3);
}

.home-container .job {
    font-size: 62px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 20px;
    color: var(--text-color-4);
    font-family: serif;

    overflow: hidden; 
    border-right: 5px solid var(--text-color-4); 
    white-space: nowrap; 
    margin: 0 auto;
    animation: typing 2s steps(40, end) infinite,
               blink-caret .5s step-end infinite;
}

/*-----------section about------------*/

.section-about {
    /* visibility: hidden; */
    display: none;
    background-color: var(--background-color-2);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    color: var(--text-color-3);
}

.about-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* width: 100%; */
    margin: 0 77px;
    padding: 0 15px;
    /* z-index: 2; */
}

.about-title {
    margin-top: 60px;
    margin-bottom: 50px;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: serif;
    text-align: center;
    position: relative;
    z-index: 2;
}

.about-title::before {
    content: "ABOUT";
    height: 64px;
    font-size: 64px;
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    opacity: 0.05;
}

.about-item {
    margin-bottom: 20px;
}

.about-info {
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
}

.about-info-avatar {
    padding: 0 15px;
}

.about-info-avatar img {
    height: 365px;
    width: 445px;
    border: solid 10px rgba(255, 255, 255, 0.03);
    border-radius: 5px;
}

.about-info-profile {
    display: grid;
    grid-template-rows: auto auto auto auto;
    letter-spacing: 0.5px;
    margin-left: 15px;
    padding-right: 15px;
}

.about-info-job {
    font-family: serif;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 1px;
}

.about-info-description {
    line-height: 27px;
}

.about-info .stress {
    color: var(--text-color-4);
    font-weight: bold;
}

.about-info-base {
    display: grid;
    grid-template-columns: auto auto;
}

.about-info-base p {
    margin: 5px 0;
}

.about-info-base span {
    margin-right: 5px;
    font-weight: bold;
    color: var(--text-color-2);
}

.about-info-base span:first-of-type {
    padding-bottom: 3px;
    border-bottom: solid 2px var(--text-color-4);
}

.about-info-btn {
    width: 163px;
    height: 44px;
    border: solid 2px var(--text-color-4);
    border-radius: 5px;
    background-color: transparent;
    color: var(--text-color-4);
    font-size: 16px;
    font-weight: bold;
    margin-top: 30px;
    cursor: pointer;
}

.about-services {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
}

.about-sub-title {
    font-weight: 600;
    font-size: 28px;
    font-family: serif;
    margin-bottom: 40px;
    position: relative;
}

.about-sub-title::before {
    content: "";
    width: 50px;
    height: 4px;
    background-color: var(--text-color-4);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -7px;
    border-radius: 2px;
}

.about-services-content {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.about-services-content .service-col {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 20px 20px 20px;
}

.about-services-content .service-col i {
    font-size: 40px;
    color: var(--text-color-4);
    margin-bottom: 15px;
}

.about-services-content .service-col h4 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 15px;
    font-family: serif;
}

.about-services-content .service-col p {
    margin-bottom: 15px;
    line-height: 27px;
    font-size: 14px;
}

.about-testimonials {
    text-align: center;
}

.about-testimonials-content {
    display: grid;
    grid-template-columns: auto auto;
}

.testimonial-item {
    width: 100%;
    padding: 0 15px;
}

.testimonial-item .description {
    position: relative;
    width: 100%;
    height: 205px;
    padding: 45px 35px;
    border-radius: 5px;
    font-size: 14px;
    text-align: left;
    font-style: italic;
    line-height: 1.5;
    letter-spacing: 0.5px;
    background-color: #323338;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 6px 5px rgba(0, 0, 0, 0.04), 0 12px 10px rgba(0, 0, 0, 0.06);
}

.testimonial-item .description::before {
    content: "\f10d";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 30px;
    color: var(--text-color-4);
    position: absolute;
    top: 0;
}

.testimonial-item .description::after {
    content: "";
    position: absolute;
    bottom: -13px;
    border-top: 13px solid #323338;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
}

.testimonial-item .person {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 24px;
    justify-content: space-between;
}

.testimonial-item .person-info {
    display: flex;
    flex-direction: row;
}

.testimonial-item .person-info-avt {
    height: 60px;
    width: 60px;
    margin: 0 20px;
    border-radius: 50%;
    background-image: url("./images/per1.jpg");
}

.testimonial-item .person-info-base {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.testimonial-item .person-info-base * {
    font-family: serif;
    letter-spacing: 0.5px;
}

.testimonial-item .vote {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    font-weight: 900;
    color: var(--text-color-4);
    list-style-type: none;
}

.testimonial-item .vote li {
    margin-left: 4px;
}

.about-clients {
    text-align: center;
}

.about-clients .client-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}

.about-clients .client-item {
    height: 124px;
    width: 165px;
    padding: 10px;
    border: solid 2px #e1e1e11a;
    cursor: pointer;
}

.about-clients .client-item:hover {
    border: solid 2px rgba(255, 255, 255, 0.3);
}

.about-clients .client-item img {
    width: 100px;
    height: 100px;
    margin: 0 20px;
    filter: opacity(0.2) contrast(0%) brightness(300%) drop-shadow(0 0 0 #fff);
}

/* ------------ resume section-------------------------------------*/
.section-resume {
    /* visibility: hidden; */
    display: none;
    background-color: var(--background-color-2);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    color: var(--text-color-3); 
}

.resume-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* width: 100%; */
    margin: 0 77px;
    padding: 0 15px;
    /* z-index: 3; */
}

.resume-title {
    margin-top: 60px;
    margin-bottom: 50px;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: serif;
    text-align: center;
    position: relative;
    z-index: 2;
}

.resume-title::before {
    content: "RESUME";
    height: 64px;
    font-size: 64px;
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    opacity: 0.05;
}

.resume-content {
    display: grid;
    grid-template-columns: 50% 50%;
}

.resume-item {
    padding: 0 15px;
}

.resume-sub-title {
    font-family: serif;
    font-weight: 600;
    font-size: 28px;
    text-align: center;
    position: relative;
    margin-bottom: 50px;
}

.resume-sub-title::before {
    content: "";
    width: 50px;
    height: 4px;
    background-color: var(--text-color-4);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -7px;
    border-radius: 2px;

}

.resume-item-container-option-1 {
    text-align: left;
    margin: 0px 5% 50px;
    padding: 25px 50px;
    border-radius: 0px 5px 5px 0px;
    background-color: var(--background-color-4);
    border-left: solid 4px var(--text-color-4);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 6px 5px rgba(0, 0, 0, 0.04), 0 12px 10px rgba(0, 0, 0, 0.06);
}

.resume-item-option-1 {
    padding: 25px 0;
    height: 200px;
}

.resume-item-option-1:nth-of-type(1), .resume-item-option-1:nth-of-type(2) {
    border-bottom: dashed 1px var(--text-color-2);
}

.resume-item-option-1 h4 {
    font-family: serif;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.5;
    margin-bottom: 12px;
    position: relative;
}

.resume-item-option-1 h4::before {
    content: "";
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: var(--background-color-4);
    position: absolute;
    left: -61px;
    border: solid 4px var(--text-color-4);
}

.resume-item-option-1 h5 {
    margin-bottom: 12px;
}

.resume-item-option-1 span {
    display: inline-block;
    font-family: serif;
    font-weight: 600;
    font-size: 14px;
    color: var(--text-color-4);
}

.resume-item-option-1 span:first-of-type {
    border-right: solid 3px var(--text-color-3);
    padding-right: 10px;
    margin-right: 7px;
}

.resume-item-option-1 p {
    font-size: 16px;
    line-height: 1.65;
}

.resume-item-container-option-2 {
    display: flex;
    flex-direction: column;
    margin: 0px 5% 50px;

}

.skill-item {
    display: flex;
    flex-direction: column;
}

.skill-item h5 {
    font-family: serif;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
}

.skill-item .rate-wrapper {
    height: 5px;
    width: 100%;
    margin-bottom: 30px;
    background-color: var(--background-color-4);
    position: relative;
}

.skill-item .rate {
    position: absolute;
    height: 100%;
    background-color: var(--text-color-4);
    position: relative;
}

.skill-item .rate::after {
    content: "";
    height: 10px;
    width: 10px;
    position: absolute;
    border-radius: 50%;
    border: solid 4px var(--text-color-4);
    right: 0;
    top: -6px;
    background-color: var(--background-color-4);
}

/*+++++++++++++++SECTION PORTFOLIO------------------------------------------*/

.section-portfolio {
    /* visibility: hidden; */
    display: none;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    background-color: var(--background-color-2);
    color: var(--text-color-3);
}

.portfolio-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* width: 100%; */
    margin: 0 77px;
    padding: 0 15px;
    /* z-index: 4; */
}

.portfolio-title {
    margin-top: 60px;
    margin-bottom: 50px;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: serif;
    text-align: center;
    position: relative;
    z-index: 2;
}

.portfolio-title::before {
    content: "PORTFOLIO";
    height: 64px;
    font-size: 64px;
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    opacity: 0.05;
}

.portfolio-menu {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
}

.portfolio-menu li {
    padding: 10px 25px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 1px;
    margin-left: 3px;
}

.portfolio-menu li:first-of-type {
    background-color: var(--text-color-4);
    color: #000;
}

.portfolio-menu li:focus {
    background-color: var(--text-color-4);
    color: #000;
}

.portfolio-content {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 30px;
}

.portfolio-content .col {
    width: 100%;
}

.portfolio-item-container {
    width: 100%;
}

.portfolio-content .col .item {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.portfolio-content .col .item:hover img {
    transform: scale(1.15);
    transition: 0.5s;
}

.portfolio-content .col .item:hover i {
    left: 20px;
    transition: 0.5s;
}

.portfolio-content .col .item:hover p {
    right: 25px;
    transition: 0.5s;
}

.portfolio-content .col .item:hover .project-name {
    opacity: 1;
    transition: 0.5s;
}

.portfolio-content .col .portfolio-item-container:hover .item::before {
    background-color: var(--text-color-4);
    top: 0;
    right: 0;
    transition-timing-function: ease-in;
    transition: 0.5s;
}

.portfolio-content .col .item * {
    z-index: 3;
}

.portfolio-content .col .item img {
    width: 100%;
    height: 100%;
    transition: 0.5s;
    display: block;
}

.portfolio-content .col .item i {
    font-size: 24px;
    position: absolute;
    left: -30px;
    bottom: 25px;
    transition: 0.5s;
}

.portfolio-content .col .item p {
    font-size: 14px;
    position: absolute;
    right: -100px;
    bottom: 25px;
    padding: 5px 10px;
    border-right: solid 4px var(--text-color-3);
    transition: 0.5s;
}

.portfolio-content .col .item a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.portfolio-content .col .item .project-name {
    opacity: 0;
    font-family: serif;
    position: absolute;
    top: 25px;
    left: 20px;
    font-weight: 700;
    font-size: 20px;
    z-index: 2;
    transition: 0.5s;
}

.portfolio-content .col .item::before {
    content: "";
    opacity: 0.7;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -670px;
    right: -670px;
    background-color: #fff;
    transform: rotate(45deg) scale(3);
    z-index: 2;
    transition: 0.5s;
}

/* --------------- SECTION BLOGS----------------------------------*/

.section-blogs {
    /* visibility: hidden; */
    display: none;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    background-color: var(--background-color-2);
    color: var(--text-color-3);
}

.blogs-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* width: 100%; */
    margin: 0 77px;
    padding: 0 15px;
    /* z-index: 5; */
}

.blogs-title {
    margin-top: 60px;
    margin-bottom: 80px;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: serif;
    text-align: center;
    position: relative;
    z-index: 2;
}

.blogs-title::before {
    content: "BLOGS";
    height: 64px;
    font-size: 64px;
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    opacity: 0.05;
}

.blog-list {
    display: grid;
    width: 100%;
    grid-template-columns: auto auto auto;
    grid-column-gap: 30px;
    grid-row-gap: 80px;
    margin-bottom: 50px;
}

.blog-list .blog-item {
    background-color: var(--background-color-4);
    position: relative;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 6px 5px rgba(0, 0, 0, 0.04), 0 12px 10px rgba(0, 0, 0, 0.06);
}

.blog-list .blog-item:hover h4 {
    text-decoration: underline;
}

.blog-list .blog-item img {
    width: 80%;
    border-radius: 5px;
    position: relative;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
}

.blog-item .blog-info {
    display: flex;
    flex-direction: column;
    padding: 0px 20px 20px 20px;
    text-align: center;
    /* position: absolute;
    bottom: 20px; */
}

.blog-item .blog-info h5 {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    color: var(--text-color-4);
} 

.blog-item .blog-info h4 {
    font-size: 24px;
    margin: 10px 0;
    font-weight: 500;
    line-height: 1.2;
    font-family: serif;
    padding: 0px 10px;
}

.blog-item .blog-info p {
    font-size: 14px;
    color: #7b7b7b;
}

.blog-item .blog-info a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/*-----------------------SECTION CONTACT-------------------------------*/

.section-contact {
    /* visibility: hidden; */
    display: none;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    background-color: var(--background-color-2);
    color: var(--text-color-3);
}

.contact-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* width: 100%; */
    margin: 0 77px;
    padding: 0 15px;
    /* z-index: 6; */
}

.contact-title {
    margin-top: 60px;
    margin-bottom: 50px;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: serif;
    text-align: center;
    position: relative;
    z-index: 2;
}

.contact-title::before {
    content: "CONTACT";
    height: 64px;
    font-size: 64px;
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    opacity: 0.05;
}

.contact-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.contact-content-up {
    display: grid;
    grid-template-columns: 50% 50%;
}

.contact-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-right: 30px;
}

.contact-info h3 {
    font-size: 32px;
    font-family: serif;
    font-weight: 500;
    margin-bottom: 30px;
    position: relative;
}

.contact-info h3::before {
    content: "";
    width: 50px;
    height: 4px;
    background-color: var(--text-color-4);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -7px;
    border-radius: 2px;
}

.contact-info p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.65;
    margin-bottom: 20px;
    letter-spacing: 0.5px;
}

.contact-info-item .info-sub-title {
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.5px;
    margin-bottom: 5px;
    display: inline-block;
    border-bottom: solid 2px var(--text-color-4);
}

.contact-info-item .info-detail {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
    display: block;
}

.follow-link {
    font-size: 24px;
    opacity: 0.6;
    margin-top: 5px;
}

.follow-link a {
    margin: 10px;
    text-decoration: none;
    color: var(--text-color-3);
}

.contact-content-up .mess-box {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    margin: 0;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.05), 
                0 0px 5px rgba(0, 0, 0, 0.04), 
                0 0px 10px 10px rgba(0, 0, 0, 0.06),
                0 0px 20px 10px rgba(0, 0, 0, 0.06);
}

.contact-content-up .mess-box form {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color-2);
    padding: 35px;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    position: relative;
}

.mess-box form input {
    background-color: transparent;
    font-size: 17px;
    font-weight: 400;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 20px;
    padding-bottom: 10px;
    color: var(--text-color-3);
}

.mess-box form .text-message {
    height: 45%;
}

.mess-box form .submit {
    height: 45px;
    width: 170px;
    color: var(--text-color-4);
    border: solid 2px var(--text-color-4);
    border-radius: 5px;
    background-color: transparent;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.mess-box form .submit:hover {
    background-color: var(--text-color-4);
    color: var(--background-color-3);
}

#map {
    height: 400px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

/*++++++++++++++++++++++++ animation ++++++++++++++++++++++++++++++++++*/

@keyframes rotate-setting-themes {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes menu-show {
    from {
        top: 20px;
    }
    to {
        top: 0px;
    }
}

@keyframes social-links-show {
    from {
        top: 30px;
    }
    to {
        top: 0px;
    }
}

@keyframes copy-show {
    from {
        top: 40px;
    }
    to {
        top: 0px;
    }
}

@keyframes typing {
    from { width: 0 }
    to { width: 580px }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--text-color-4); }
}
